.manual {
    .manual-toc {
        h1 {
            font-size: 1.5em;
            margin-bottom: 1em;
            margin-top: 0;
            padding-bottom: 0;
        }

        h2 {
            cursor: pointer;
            font-size: 1.25em;
            margin-top: 0;
            margin-bottom: 0.5em;
        }

        ul {
            li {
                text-decoration: none;
                list-style-type: none;
            }

            li.current {
                font-weight: bold;
            }
        }
    }
}
